.home {
  padding: 1rem;
  background-color: #f9f9f9;
  flex: 1;
}

.home h2 {
  margin-bottom: 1rem;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}
